/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-text);
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-text-weight);
  background-color:  var(--background-color, #9e3737);
  color: var(--accent-color, #000000);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  padding-block-start: 100px;
  padding-block-end: 100px;
}

button {
  appearance: none;
  border: none;
  background-color: var(--background-color);
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 327px;
  inline-size: 100%;
  max-inline-size: 700px;
  text-align: center;
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: var(--accent-text);
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  padding-block: 136px 25px;
}

.header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: 100%;
  padding-block-end: 20px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  padding-block-end: 25px;
}

.header__theme-menu {
  padding-inline-start: 17px;
  display: flex;
  justify-content: center;
  text-align: start;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 60%;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  inset-inline-start: -15px;
  animation: play 0.6s ease-in-out infinite alternate;
  content: "▶"
}

.theme-menu__button:hover {
  opacity: 60%;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 60%;
}


.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 90%;
  block-size: 2px;
  bottom: 0;
  left: 5px;
  background-color: var(--accent-color);
  opacity: 60%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible {
  opacity: 60%;

}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.post {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 700px;
  margin-block-start: 100px;
}

.post__item {
  background-color: var(--background-color, #fff);
  border: 2px solid var(--accent-color);
}

.post__title {
  padding-inline: 10px;
  padding-block-start: 5px;
  font-size: 18px;
  line-height: 21.78px;
  border-block-end: 2px solid var(--accent-color);
  font-variation-settings: 'wght' var(--title-weight, 700);
  min-height: 31px;
}

.post__img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.post__img-wrapper {
  position: relative;
}

.image-label {
  font-family: var(--accent-text);
  position: absolute;
  top: 27px;
  right: 24px;
  -webkit-text-stroke: 1px var(--background-color);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-transform: uppercase;
}

.post__content {
  display: flex;
  flex-direction: column;
  font-variation-settings: 'wght' var(--main-text-weight, 400);
  padding-inline: 25px;
  padding-block-start: 30px;
  border-block-start: 2px solid var(--accent-color);
  gap: 27px;
  line-height: 21px;
}


.like {
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap: 5px;
  padding: 25px 25px 22px 25px;
}

.card__icon-button {
  padding: 0;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color:  var(--accent-color);
}

.button__text {
  font-family: var(--accent-text);
  font-size: 14px;
}

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  appearance: none;
  border: 2px solid var(--accent-color);
  padding: 6px 17px;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.button__text,
.floppy-icon {
  color: var(--button-hover-color, #fff);
  mix-blend-mode: difference;
}

.floppy-icon {
  inline-size: 22px;
  block-size: 22px;
}

.button::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.save {
  display: flex;
  justify-content: center;
}

.save__button {
  position: relative;
  display: flex;
  margin-block-start: 50px;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--accent-color);
  padding: 15px 20px;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
}

.save__button:focus, .close-button:focus {
  outline: none;
}

.save__button:focus-visible, .close-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.dialog-window {
  padding: 30px;
  font-family: var(--accent-text);
  background-color: var(--background-color);
  color: var(--accent-color);
  max-inline-size: 352px;
}

.dialog-window[open] {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 30px;
}

.dialog-content {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
  gap: 13px;
}

.dialog-floppy-icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(7px);
}

.close-button {
  position: relative;
  width: 100%;
  appearance: none;
  border: 3px solid var(--accent-color);
  padding: 6px 17px;
  text-transform: uppercase;
  transition: box-shadow 0.3s ease;
}

li:nth-child(1) div .post__img {
  filter: blur(3px);
}
li:nth-child(2) div .post__img {
  filter: saturate(290%);
}
li:nth-child(3) div .post__img {
  filter: grayscale(50%);
}
li:nth-child(4) div .post__img {
  filter: hue-rotate(60deg)
}
li:nth-child(5) div .post__img {
  filter: brightness(1.3);
}
li:nth-child(6) div .post__img {
  filter: sepia(60%);
}
li:nth-child(7) div .post__img {
  filter: contrast(200%);
}
li:nth-child(8) div .post__img {
  filter: contrast(90%) brightness(120%) saturate(85%) hue-rotate(20deg);
}

@supports ((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .image-label {
    text-stroke: 1px var(--background-color);
    -webkit-text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

@media (width <=375px) {
  .save__button {
    flex-direction: column;
  }

  .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog-window {
    padding: 30px;
    inline-size: 341px;
  }

  .header {
    padding-block: 120px 25px;
  }

  .image-label {
    top: 30px;
    right: 10px;
  }
}
