/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
	--main-text: 'Inter', sans-serif;
	--accent-text: 'PressStart2P';
	--main-text-weight: 400;
	--title-weight: 700;
	--background-color: #FFFFFF;
	--accent-color: #000000;
	--background-image: repeating-linear-gradient(
		90deg,
		#d3d3d3 0px,
		#d3d3d3 2px,
		transparent 2px,
		transparent 4px),
	repeating-linear-gradient(
		0deg,
		#d3d3d3 0px,
		#d3d3d3 2px,
		transparent 2px,
		transparent 4px),
	linear-gradient(
		to bottom,
		#e7e7e7 0.01%,
		#1a1a1a 100%);

	--button-hover-color: #fff;
	--heart-color: #FF0000;
	--contour-color: #000000;
}
